<html>
    <head>
        <title>Bhavishya's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Bhavishya's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hey,This is my first post, mainly this gonna be a log-blog(To moniter my GSoc progress which I would be attempting this summer.)</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">GSoc-17</a></h2>
            <p>I'm loking over GNU-mailman for GSoc,(specifically to fix encrypted lists for mailman).</p>
        </div>
    </body>
</html>
